// Color palette of Crypto Factor

$alice-blue: #F0F4FA;
$powder-blue: #BBC7DD;
$glaucous: #788FB8;
$jordy-blue: #8EB6F6;
$byzantine-blue: #435BC7;
$ultramarine: #120A8F;
$charcoal: #475268;
$oxford-blue: #1D273A;
$rich-black: #081021;