<div class="details-grid">
  <!-- Hash with copy button -->
  <div class="field">
    <div class="label">
      <span *ngIf="isRevert && inDialogMode" class="badge-revert" aria-label="Revert">Revert</span>
      <span style="margin-left: 10pt">Hash</span>
    </div>
    <div class="value value--with-action">
      {{ ep.hash }}
      <app-copy-icon [value]="ep.hash"></app-copy-icon>
    </div>
  </div>

  <!-- Tx hash – only shown in Tx-dialog -->
  <div class="field" *ngIf="inDialogMode">
    <div class="label">Tx Hash</div>
    <div class="value value--with-action">
      {{ ep.transactionHash }}
      <app-copy-icon [value]="ep.transactionHash"></app-copy-icon>

      <!-- Icon to jump to the Tx-page -->
      <a [routerLink]="['/tx', ep.transactionHash]" [queryParams]="{ ep: ep.hash }" class="icon-btn"
        title="Open transaction page" aria-label="Open transaction page" (click)="openTx.emit()"
        style="margin-left: -3pt; display:inline-flex; align-items:center;">
        <i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i>
      </a>
    </div>
  </div>

  <!-- Progress (4-step micro-tracker) -->
  <div class="field">
    <div class="label">Progress</div>
    <div class="value" style="margin-left: -22px">
      <app-ep-progress [chainId]="ep.chainId" [events]="ep.events ?? getEvents(ep)" style="justify-self: start">
      </app-ep-progress>
    </div>
  </div>

  <!-- Partial Block -->
  <div class="field">
    <div class="label">Partial Block</div>
    <div class="value value--with-action">
      <span class="clickable clickable--tight" title="Show PartialBlock details" (click)="onOpenPartialBlock()">
        {{ ep.includedInPartialBlock }}
      </span>
      <app-copy-icon [value]="ep.includedInPartialBlock"> </app-copy-icon>
    </div>
  </div>

  <!-- Executing Contract (Operator) -->
  <div class="field">
    <div class="label">Executing Contract</div>
    <div class="value value--with-action">
      <code class="mono">{{ operatorAddressDisplay }}</code>
      <app-copy-icon [value]="operatorAddressDisplay"></app-copy-icon>
      <app-external-link [chainId]="ep.chainId" [address]="ep.operatorAddress" style="margin-left:-1pt">
      </app-external-link>
    </div>
  </div>

  <div class="field">
    <div class="label">Execution Signature</div>
    <div class="value value--exec-signature">
      <!-- Only collapsible when we actually have a signature -->
      <ng-container *ngIf="ep.executionSignature; else noSignature">
        <span class="clickable mono exec-signature" [class.exec-signature--expanded]="showFullSignature"
          (click)="toggleSignature()" title="Click to toggle full signature">
          <!-- Collapsed: truncated -->
          <ng-container *ngIf="!showFullSignature; else fullSig">
            {{ ep.executionSignature | truncateMiddle: 16 }}
          </ng-container>

          <!-- Expanded: full value -->
          <ng-template #fullSig>
            {{ ep.executionSignature }}
          </ng-template>
        </span>
      </ng-container>

      <!-- Fallback when there is no signature -->
      <ng-template #noSignature>
        <span class="mono">
          {{ ep.executionSignature | asDash }}
        </span>
      </ng-template>
    </div>
  </div>

</div>