.details-grid {
  padding-bottom: 10px;
  padding-right: 10px;

  .field {
    display: grid;
    grid-template-columns: 150px minmax(0, 1fr); // label + rest for value
    column-gap: 12px;

    .label {
      text-align: right;
      white-space: nowrap; // prevent wrapping of long labels
    }
  }
}