@import '../shared/cf_color_palette.scss';

.field {
  display: grid;
  grid-template-columns: 150px minmax(0, 1fr); // label + rest for value
  column-gap: 12px;
}

.field .label {
  text-align: right;
  white-space: nowrap;
}

/* Heading above the EPs */
.field.section-heading .label {
  font-weight: bold;
  font-size: 1rem;
  color: $byzantine-blue;
  margin-top: 6pt;
  margin-bottom: 3pt;
}

/* not used (at the moment?) */
.link {
  text-decoration: underline;
  cursor: pointer;
}

.badge-state {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 11px;
}