@import '../shared/cf_color_palette.scss';

/* not used (at the moment?) */
.link {
  text-decoration: underline;
  cursor: pointer;
}

.badge-state {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 11px;
}