@import './shared/cf_color_palette.scss';

.background-layer {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom, $ultramarine, darken($byzantine-blue, 40%));
  background-attachment: fixed;
  z-index: 0;
  filter: brightness(1.1) contrast(0.9);
  pointer-events: none;
}

.title-panel {
  display: flex;
  align-items: center;
  background-color: black;
  color: $byzantine-blue;
  padding: 10px 20px;
  gap: 1rem;
  position: relative;
  z-index: 10;
  //position: sticky; // Stick to the top
  //top: 0;
  //z-index: 1000;

}

.logo {
  height: 50px;
  width: auto;
  cursor: pointer;
}

.title-text {
  font-size: 15px;
}

.content-area {
  position: relative;
  z-index: 10;
}