@import '../cf_color_palette.scss';

.background-layer {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom, $ultramarine, $byzantine-blue);
  background-attachment: fixed;
  z-index: 0;
  filter: brightness(1.1) contrast(0.9);
  pointer-events: none;
}

/*
.background-layer {
  position: fixed;
  //top: 0;
  //left: 0;
  width: 100vw;
  height: 100vh;
  //background-image: url("/assets/images/CFR_emblem_round.png");
  background-image: url("/assets/images/background.png");
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 0;
  filter: brightness(1.5) contrast(0.75);
}
*/
.title-panel {
  display: flex;
  align-items: center;
  background-color: black;
  color: $byzantine-blue;
  padding: 10px 20px;
  gap: 1rem;
  position: relative;
  z-index: 10;
  //position: sticky; // Stick to the top
  //top: 0;
  //z-index: 1000;

}

.logo {
  height: 50px;
  width: auto;
}

.title-text {
  font-size: 15px;
}

.content-area {
  position: relative;
  z-index: 10;
}