:host {
  display: block;
  color: #333;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

// Make the panel as wide as necessary and center it
:host .panel {
  width: max-content;
  margin: 0 auto;
}

:host .panel h2 {
  margin-bottom: 15px
}