<div *ngIf="masterBlock; else loading">
  <div class="table-container">
    <h2>&nbsp; Master Block</h2>
    <table>
      <tr>
        <td class="label">ID</td>
        <td>{{ masterBlock.id }}</td>
      </tr>
      <tr>
        <td class="label">Height</td>
        <td>{{ masterBlock.height }}</td>
      </tr>
      <tr>
        <td class="label">Timestamp</td>
        <td>{{ masterBlock.timestamp }}</td>
      </tr>
      <tr>
        <td class="label">Merkle Root</td>
        <td>{{ masterBlock.merkle_root }}</td>
      </tr>
      <tr>
        <td class="label">Block Hash</td>
        <td>{{ masterBlock.block_hash }}</td>
      </tr>
      <tr>
        <td class="label">Block Mint Transaction</td>
        <td>{{ masterBlock.block_mint_transaction }}</td>
      </tr>
      <tr>
        <td class="label">Date Indexed</td>
        <td>{{ masterBlock.date_indexed }}</td>
      </tr>
    </table>
    <!-- Back Button -->
    <a class="back-btn" routerLink="/masterblocks">Back</a>
  </div>
</div>

<ng-template #loading>
  <p>Loading latest block data...</p>
</ng-template>

<div *ngIf="errMsg" class="error">
  <p>Error: {{ errMsg }}</p>
</div>