:host {
  padding: 20px; // Dialog overlay padding around the panel
}

// Close icon is dialog-specific
.dialog-title .close-icon {
  margin-left: auto;
  cursor: pointer;
  line-height: 0;
  display: inline-flex;
  align-items: center;
}