<div *ngIf="partialBlock">
  <div class="panel">
    <div class="dialog-title">
      <div class="logo-pane">
        <img [src]="getChainImage(partialBlock.chain_id)" alt="Chain Logo" class="logo-img"
          style="width: 24px; height: 24px;" />
      </div>
      <div class="title-text">
        <h2>Partial Block</h2>
      </div>
      <div class="close-icon" (click)="dialogRef.close()">
        <i class="fa-solid fa-square-xmark"></i>
      </div>
    </div>

    <!-- Separator line -->
    <div class="separator"></div>

    <div class="fields-container">
      <div class="field">
        <div class="label">Chain ID</div>
        <div class="value">{{ partialBlock.chain_id }}</div>
      </div>
      <div class="field">
        <div class="label">Height</div>
        <div class="value">{{ partialBlock.height }}</div>
      </div>
      <div class="field">
        <div class="label">Hash</div>
        <div class="value">{{ partialBlock.block_hash }}</div>
      </div>
      <div class="field">
        <div class="label">MasterBlock Hash</div>
        <div class="value">{{ partialBlock.master_block_hash }}</div>
      </div>
      <div class="field">
        <div class="label">Mempool Epoch</div>
        <div class="value">{{ partialBlock.mempool_epoch }}</div>
      </div>
      <div class="field">
        <div class="label">Txn Root</div>
        <div class="value">{{ partialBlock.txn_root }}</div>
      </div>
      <div class="field">
        <div class="label">Source Txn Hash</div>
        <div class="value">{{ partialBlock.source_txn_hash }}</div>
      </div>
      <div class="field">
        <div class="label">Commit Txn Hash</div>
        <div class="value">{{ partialBlock.commit_txn_hash }}</div>
      </div>
      <div class="field">
        <div class="label">Commit Proof</div>
        <div class="value">{{ partialBlock.commit_proof }}</div>
      </div>
      <div class="field">
        <div class="label">Confirmed</div>
        <div class="value">{{ partialBlock.confirmed }}</div>
      </div>
      <div class="field">
        <div class="label">Indexed at</div>
        <div class="value">{{ partialBlock.indexed_at }}</div>
      </div>
    </div>

    <!-- Separator line -->
    <div class="separator"></div>

    <!-- Close-button -->
    <div class="button-wrapper">
      <a class="close-btn" (click)="closeDialog()">
        <span class="btn-content">Close</span>
      </a>
    </div>
  </div>
</div>

<ng-template #noInput>
  <p>No input provided. Please supply the PartialBlock data.</p>
</ng-template>