<div class="blocks-page">
  <div class="panels-container">
    <!-- Left Panel: List with MasterBlocks and PartialBlocks -->
    <app-masterblocks-panel [masterBlocks]="masterBlocks" [expandedBlocks]="expandedBlocks" [currentPage]="currentPage"
      [totalPages]="totalPages" [pollingActive]="pollingActive" [getChainImage]="getChainImage"
      [trackByBlockHash]="trackByBlockHash" (togglePolling)="togglePolling()"
      (openMasterBlock)="showMasterBlockData($event)" (openPartialBlock)="showPartialBlockData($event)"
      (togglePartialBlocks)="togglePartialBlocks($event)" (pageChange)="goToPage($event)"
      (filterByMasterBlock)="onSelectMasterBlockForTxFilter($event)">
    </app-masterblocks-panel>

    <!-- Right Panel: List with Transactions and ExecutionParts -->
    <app-transactions-panel [transactions]="transactions" [expandedTx]="expandedTx" [currentPage]="txPage"
      [totalPages]="txTotalPages" [pollingActive]="txPollingActive" [getChainImage]="getChainImage"
      [trackByTxHash]="trackByTxHash" [masterBlockHash]="masterBlockHash" [masterBlockHeight]="masterBlockHeight"
      (togglePolling)="onTxTogglePolling()" (openTransaction)="showTransactionData($event)"
      (toggleExecutionParts)="toggleTxExecutionParts($event)"
      (openExecPart)="showExecutionPartData($event.tx_hash, $event.ep_hash)" (pageChange)="goToTxPage($event)">
    </app-transactions-panel>
  </div>
</div>