<div class="blocks-page">
  <h2>Latest Master Blocks</h2>
  <div class="blocks-list">
    <div class="block-item" *ngFor="let block of masterBlocks">
      <div class="block-info">
        <div class="field">
          <div class="label">Height</div>
          <div class="value"><span class="gradient-text">{{ block.height }}</span></div>
        </div>
        <div class="field">
          <div class="label">Timestamp</div>
          <div class="value"><span class="gradient-text">{{ block.timestamp }}</span></div>
        </div>
        <div class="field">
          <div class="label">Hash</div>
          <div class="value"><span class="gradient-text">{{ block.block_hash }}</span></div>
        </div>
      </div>
      <a class="detail-btn" [routerLink]="['/masterblock', block.heigth]">
        <span class="btn-content">Detail</span>
      </a>
    </div>
  </div>
</div>